@import "work-includes";

ap-file {
  display: block;
  width: 203px;

  main {
    height: 135px;
    background-color: $neutral-color-lightest;

    img {
      width: 35px;
      height: 35px;
    }
  }

  .icon {
    height: 10px;
    width: 10px;
  }

  footer {
    margin-top: 5px;

    p {
      @include ellipsis(180px);
    }
  }

  .progress-house {
    margin: 0 20px 18px 20px;
  }

  progress {
    width: 100%;
  }

  .failed {
    button {
      margin-top: 10px;
    }

    img {
      opacity: .60;
    }
  }

  textarea {
    margin-top: 10px;
    width: 100%;
    border-width: 0;
    color: $text-color-lightest;

    &:focus {
      border-width: 1px;
      color: $text-color;
    }
  }
}
