@import "work-includes";


ap-uploader {
  display: block;

  uploaded-files {
    margin-bottom: 20px;
  }
}

.uploaderFiles {
  height: 40vh;
  overflow: auto;
  border: 1px solid $neutral-color;
}

.choose-files {
  margin-bottom: 2em;
}
