span {{file.name}}
button(ng-show="file.status == 'failed'" ng-click="file.retry()") Retry
button(ng-show="file.status == 'progress'" ng-click="file.cancel()") Cancel
button(ng-show="file.status == 'done'" ng-click="file.remove()") Remove
