.uploaderWrapper

  input(ng-if="vm.allowMultiple", multiple="", type="file" on-file-change="vm.uploader.add(fileList)" class="choose-files")
  input(ng-if="!vm.allowMultiple", type="file" on-file-change="vm.uploader.add(fileList)" class="choose-files")

  ul.uploaderFiles
    li(ng-repeat="file in vm.uploader.files")
      ap-file(file="file")
