form(ng-hide="vm.authenticated", ng-submit="vm.login(this)")
  input(type="text", name="username", placeholder="username", ng-model="vm.username")
  input(type="password", name="password", placeholder="password", ng-model="vm.password")
  button(type="submit") Login

ap-uploader(
  config="vm.uploaderConfig",
  uploading="vm.uploaderUploading",
  has-errors="vm.uploaderHasErrors"
)
